*.zip
*.pdb
*.idb
Debug
win32
秘籍
Wiki
*.crx
*.pem
node_modules
archive
SingleFile-master
Saladict
.vscode


NetResourceSwitcher
stylish




视频下载神器
猫抓-视频下载神器
ghelper
webx
Python
ParseVid
IDM
MarkdownEngines
singleinstance
Wiki
EasyScrollCopy
WikiKatexEditor
acrobat_PlainDictPlugin
screenshots
SlickGrid-master
