h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    margin: 0;
    padding: 0;
}
body {
    font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;

}

body, html {
  color: rgba(0,0,0,.75);
  font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
  font-variant-ligatures: common-ligatures;
  line-height: 1.625;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  tab-size: 4;
  -moz-tab-size: 4;
  -o-tab-size: 4;
}

a {
    color: #0069d6;
}
a:hover {
    color: #0050a3;
    text-decoration: none;
}
a img {
    border: none;
}

p {
  font-size: 18px;
  color: #4d4d4d;
  font-weight: 400;
  line-height: 26px;
  margin: 0 0 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #404040;
    line-height: 36px;
}
h1 {
    margin-bottom: 18px;
    font-size: 30px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}
hr {
    margin: 0 0 19px;
    border: 0;
    border-bottom: 1px solid #ccc;
}
blockquote {
  color: rgba(0,0,0,.5);
  padding-left: 1.5em;
  border-left: 5px solid rgba(0,0,0,.075);
}
blockquote {
    display: block;
    padding: 16px;
    margin: 0 0 24px;
    border-left: 8px solid #dddfe4;
    background: #eef0f4;
    overflow: auto;
    word-break: break-word!important;
}
blockquote p {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 0;
}
code, pre, samp {
  font-family: Source Code Pro,DejaVu Sans Mono,Ubuntu Mono,Anonymous Pro,Droid Sans Mono,Menlo,Monaco,Consolas,Inconsolata,Courier,monospace,PingFang SC,Microsoft YaHei,sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #000;
}
code {
  background-color: rgba(0,0,0,.05);
  border-radius: 4px;
  padding: 2px 4px;
}
code {
    background-color: #f9f2f4;
    color: #c7254e;
    padding: 2px 4px;
    font-size: 14px;
    border-radius: 2px;
}
pre {
    margin-bottom: 24px;
    display: block;
}
pre code {
    background-color: rgba(0,0,0,.05);
    display: block;
    color:#737373;
    padding: .5em;
    -webkit-text-size-adjust: none;
    overflow-x: auto;
    white-space: pre;
    color: unset;
}
pre code {
    color: unset;
}
@media screen and (min-width: 768px) {
    body {
        width: 748px;
        margin:10px auto;
    }
}

/* MDViewer */
ol, ul {
  margin: 0 0 24px;
  padding: 0;
  font-size: 18px;
}

ol li {
  list-style-type: decimal;
  margin-left: 40px;
  margin-top: 8px;
}

li, ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul li {
  list-style-type: disc;
  margin: 8px 0 0 32px;
}

ol, ul {
  margin: 0 0 24px;
  padding: 0;
  font-size: 18px;
}

table {
  border-collapse: collapse;
  display: table;
  width: 100%;
  text-align: center;
  margin-bottom: 24px;
}

table {
  border-collapse: collapse;
  display: table;
  width: 100%;
  text-align: center;
  margin-bottom: 24px;
  border-color: grey;
}

table tr {
  border: 0;
  border-top: 1px solid #ddd;
  background-color: #fff;
}

table tr th {
  font-weight: 700;
  background-color: #eff3f5;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

td, th {
  border-right: 1px solid #dcdcdc;
  padding: 8px 12px;
}

table tr td, table tr th {
  font-size: 14px;
  color: #4f4f4f;
  line-height: 22px;
  border: 1px solid #ddd;
  padding: 8px;
  word-break: normal!important;
  vertical-align: middle;
}


table tr:nth-child(2n) {
  background-color: #f7f7f7;
}

.messageText {
  fill: #333;
  stroke: transparent!important;
}

/*
foundation.css
Description: Foundation 4 docs style for highlight.js
Author: Dan Allen <dan.j.allen@gmail.com>
Website: http://foundation.zurb.com/docs/
Version: 1.0
Date: 2013-04-02
*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #fff; 
  color: #333;
	overflow-x: auto
}

.hljs-link,
.hljs-emphasis,
.hljs-attribute,
.hljs-addition {
  color: #070;
}

.hljs-emphasis {
  font-style: italic;
}

strong {
  font-weight: 700;
}

.hljs-strong,
.hljs-string,
.hljs-deletion {
  color: #d14;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-quote,
.hljs-comment {
  color: #998;
  font-style: italic;
}

.hljs-section,
.hljs-title {
  color: #900;
}

.hljs-class .hljs-title,
.hljs-type {
  color: #458;
}

.hljs-variable,
.hljs-template-variable {
  color: #336699;
}

.hljs-bullet {
  color: #997700;
}

.hljs-meta {
  color: #3344bb;
}

.hljs-code,
.hljs-number,
.hljs-literal,
.hljs-keyword,
.hljs-selector-tag {
  color: #099;
}

.hljs-regexp {
  background-color: #fff0ff;
  color: #880088;
}

.hljs-symbol {
  color: #990073;
}

.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #007700;
}
/* GITHUB */
h1,h2,h3,h4,h5,h6 {
	margin-top: 24px;
	margin-bottom: 16px;
	font-weight: 600;
	line-height: 1.25
}
h1 .octicon-link,h2 .octicon-link,h3 .octicon-link,h4 .octicon-link,h5 .octicon-link,h6 .octicon-link {
	color: #1b1f23;
	vertical-align: middle;
	visibility: hidden
}
h1:hover .anchor,h2:hover .anchor,h3:hover .anchor,h4:hover .anchor,h5:hover .anchor,h6:hover .anchor {
	text-decoration: none
}
h1:hover .anchor .octicon-link,h2:hover .anchor .octicon-link,h3:hover .anchor .octicon-link,h4:hover .anchor .octicon-link,h5:hover .anchor .octicon-link,h6:hover .anchor .octicon-link {
	visibility: visible
}
h1 tt,h1 code,h2 tt,h2 code,h3 tt,h3 code,h4 tt,h4 code,h5 tt,h5 code,h6 tt,h6 code {
	font-size: inherit
}
h1 {
	padding-bottom: .3em;
	font-size: 2em;
	border-bottom: 1px solid #eaecef
}
h2 {
	padding-bottom: .3em;
	font-size: 1.5em;
	border-bottom: 1px solid #eaecef
}
h3 {
	font-size: 1.25em
}
h4 {
	font-size: 1em
}
h5 {
	font-size: .875em
}
h6 {
	font-size: .85em;
	color: #6a737d
}
/* code */
.hljs-comment,.hljs-meta {
	color: #969896
}
.hljs-string,.hljs-variable,.hljs-template-variable,.hljs-strong,.hljs-emphasis,.hljs-quote {
	color: #df5000
}
.hljs-keyword,.hljs-selector-tag,.hljs-type {
	color: #a71d5d
}
.hljs-literal,.hljs-symbol,.hljs-bullet,.hljs-attribute {
	color: #0086b3
}
.hljs-section,.hljs-name {
	color: #63a35c
}
.hljs-tag {
	color: #333333
}
.hljs-title,.hljs-attr,.hljs-selector-id,.hljs-selector-class,.hljs-selector-attr,.hljs-selector-pseudo {
	color: #795da3
}
.hljs-addition {
	color: #55a532;
	background-color: #eaffea
}
.hljs-deletion {
	color: #bd2c00;
	background-color: #ffecec
}
.hljs-link {
	text-decoration: underline
}
.hljs-attribute, .hljs-doctag, .hljs-keyword, .hljs-meta-keyword, .hljs-name, .hljs-selector-tag {
  font-weight: 600;
}